<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
</head>
<body>
    <span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
</body>
</html>