<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý người dùng</title>
</head>
<body>
    <center>
        <h1>Quản lý người dùng</h1>
        <hr/>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
            {% for result in result %}

            <tr>
                <td>{{result.id}}</td>

                <td>{{result.email}}</td>
                <td>{{result.password}}</td>
                <td><a href="/account/update/{{result.id}}">Sửa</a></td>
                <td><a href="/account/delete/{{result.id}}">Xóa</a></td>
            </tr>

            {% endfor %}
        </table>
        <a  class="hello-msg" href="{% url 'backup' %}">Backup</a>
    </center>
</body>
</html>