<!DOCTYPE html>
  <html>
{% load static %}
		<head>
			<title>Tic Tac Toe</title>
			<style>
			#bgr
			{
				background-image: url('{% static "image/bgr.jpg" %}');
				z-index:-900;
			}
			#divmain
			{
				width:auto;
				height:auto;
				overflow:hidden;
				margin-top:100px;
			}

			#imgPlayer
			{
				width:170px;
				height:170px;
				margin:auto;
				margin-top:5px;
				background-image:url('./player_2.png');
				background-repeat:round;
				background-color:#CCC;
			}

			.square
			{
				width:100px;
				height:100px;
				font-size:60px;
				border-right:#000 5px solid;
				border-top:#000 5px solid;
				border-left:#000 5px solid;
				border-bottom:#000 5px solid;
				background-color:#FFF	;
				background-repeat:round;
				overflow:hidden;
				opacity:0.85;
				cursor:pointer;
			}

			.button
			{
				width:200px;
				height:50px;
				margin-left:50px;
				margin-top:30px;
				font-weight:700;
				font-family:"Arial Black", Gadget, sans-serif;
				background-color:#99F;
				cursor:pointer;
				border-radius:15px;
				color:#FFF;
			}
			.center {
			  margin: 0;
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  -ms-transform: translate(-50%, -50%);
			  transform: translate(-50%, -50%);
			}
			.gradient-button {
				width:250px;
				height:50px;
				margin-top:30px;
				margin-bottom:30px;
				font-weight:700;
				font-family: "Arial Black", Gadget, sans-serif;
				font-size: 15px;
				text-align: center;
				text-transform: uppercase;
				transition: 0.5s;
				background-size: 200% auto;
				color: #FFF;
				box-shadow: 0 0 20px #eee;
				border-radius: 10px;
<!--				box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);-->
				transition: all 0.2s cubic-bezier(.25,.8,.25,1);
				cursor: pointer;
				display: inline-block;
				border-radius: 25px;
			}
<!--			.gradient-button:hover{-->
<!--				box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);-->
<!--				margin: 8px 10px 20px 30px;-->
<!--			}-->
			.gradient-button-1 {background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%)}
			.gradient-button-1:hover { background-position: right center; }

			</style>

		</head>

		<body onload="Loaded();" id="bgr">
            <script src="{% static 'js/test1.js' %}"></script>
			<div id = "divmain" align="center" >
                <div id="center">
					<table id="table">
					</table>
					<div id="divcontrol">
						<input type="button" class="gradient-button gradient-button-1" value="PLAY AGAIN !" onclick="Reset();"/><br/>
					</div>
			    </div>
			</div>
		</body>
	</html>