<!DOCTYPE html>
  <html>
{% load static %}
		<head>
			<title>Tic Tac Toe</title>
			<style>
			#bgr
			{
				background-image: url('{% static "images/bgr.jpg" %}');
				z-index:-900;
			}

			#divmain
			{
				width:auto;
				height:auto;
				overflow:hidden;
				margin-top:-10px;
			}
			.square
			{
				width:90px;
				height:90px;
				font-size:60px;
				border-right:#000 5px solid;
				border-top:#000 5px solid;
				border-left:#000 5px solid;
				border-bottom:#000 5px solid;
				background-color:#FFF	;
				background-repeat:round;
				overflow:hidden;
				opacity:0.85;
				cursor:pointer;
			}

			.button
			{
				width:200px;
				height:50px;
				margin-left:50px;
				margin-top:30px;
				font-weight:700;
				font-family:"Arial Black", Gadget, sans-serif;
				background-color:#99F;
				cursor:pointer;
				border-radius:15px;
				color:#FFF;
			}
			.center {
			  margin: 0;
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  -ms-transform: translate(-50%, -50%);
			  transform: translate(-50%, -50%);
			}
<!--			.imgnobita-->
<!--			{-->
<!--				  width:600px;-->
<!--				  height:500px;-->
<!--				  position: absolute;-->
<!--				  top: 15%;-->
<!--				  left: 57%;-->
<!--			}-->
<!--			.imgxuka-->
<!--			{-->
<!--				  width:600px;-->
<!--				  height:500px;-->
<!--				  position: absolute;-->
<!--				  top: 20%;-->
<!--				  left: 0%;-->
<!--			}-->
			.gradient-button {
				width:250px;
				height:50px;
				margin-top:20px;
				margin-bottom:20px;
				font-weight:700;
				font-family: "Arial Black", Gadget, sans-serif;
				font-size: 15px;
				text-align: center;
				text-transform: uppercase;
				transition: 0.5s;
				background-size: 200% auto;
				color: #FFF;
				box-shadow: 0 0 20px #eee;
				border-radius: 10px;
				transition: all 0.2s cubic-bezier(.25,.8,.25,1);
				cursor: pointer;
				display: inline-block;
				border-radius: 25px;
			}
			.gradient-button-1 {background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%)}
			.gradient-button-1:hover { background-position: right center; }
			.imglogo{
				margin: -30px auto 0px;
    			display: block;
    			margin-bottom:-40px;
			}
			</style>
		</head>
		<body onload="Loaded();AIcheck();" id="bgr">
			<img src="../../../static/images/Carologo.png" class="imglogo">
			<div align="center">
				<h1 style="display: inline-block;">SCORE : </h1>
				<h1 id="score1" style="display: inline-block;">0</h1>
			</div>
            <script src="{% static 'js/test1.js' %}"></script>
			<div id = "divmain" align="center" >
                <div id="center">
					<table id="table"></table>
					<div id="divcontrol">
						<input type="button"  class="gradient-button gradient-button-1" value="PLAY AGAIN !" onclick="PvsM()"/><br/>
					</div>
			    </div>
			</div>
		</body>
	</html>