<!DOCTYPE html>
  <html>
		{% load static %}
		<head>
			<title>Tic Tac Toe</title>
			<style>
			#bgr
			{
				background-image: url('{% static 'image/bgr.jpg' %}');
				z-index:-900;
			}

			#divmain
			{
				width:500px;
				height:500px;
				float:left;
				margin-left:150px;
				margin-top:50px;
				overflow:hidden;
			}
			#divcontrol
			{

				width:300px;
				height:auto;
				float:right;
				background-color:#FFF;
				opacity:0.85;
				overflow:hidden;
				border-radius:20px;
			}
			#imgPlayer
			{
				width:170px;
				height:170px;
				margin:auto;
				margin-top:5px;
				background-image:url('./player_2.png');
				background-repeat:round;
				background-color:#CCC;
			}

			.square
			{
				width:100px;
				height:100px;
				font-size:60px;
				border-right:#000 5px solid;
				border-top:#000 5px solid;
				border-left:#000 5px solid;
				border-bottom:#000 5px solid;
				background-color:#FFF	;
				background-repeat:round;
				overflow:hidden;
				opacity:0.8;
				cursor:pointer;
			}
			#label1
			{
				margin-top:10px;

			}
			.center {
			  margin: 0;
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  -ms-transform: translate(-50%, -50%);
			  transform: translate(-50%, -50%);
			}
<!--			.button-->
<!--			{-->
<!--				width:200px;-->
<!--				height:50px;-->
<!--				margin-left:50px;-->
<!--				margin-top:30px;-->
<!--				margin-bottom:30px;-->
<!--				font-weight:700;-->
<!--				font-family:"Arial Black", Gadget, sans-serif;-->
<!--				background-color:#99F;-->
<!--				cursor:pointer;-->
<!--				border-radius:15px;-->
<!--				color:#FFF;-->
<!--			}-->
			.gradient-button {
				width:200px;
				height:50px;
				margin-left:50px;
				margin-top:30px;
				margin-bottom:30px;
				font-weight:800;
				font-family: "Arial Black", Gadget, sans-serif;
				font-size: 20px;
				text-align: center;
				transition: 0.5s;
				background-size: 200% auto;
				color: #FFF;
				box-shadow: 0 0 20px #eee;
				border-radius: 10px;
<!--				box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);-->
				transition: all 0.2s cubic-bezier(.25,.8,.25,1);
				cursor: pointer;
				display: inline-block;
				border-radius: 25px;
			}
<!--			.gradient-button:hover{-->
<!--				box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);-->
<!--				margin: 8px 10px 20px 30px;-->
<!--			}-->
			.gradient-button-4 {background-image: linear-gradient(to top, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%)}
			.gradient-button-4:hover { background-position: top center; }
			</style>


		</head>

		<body id="bgr">

			<div id = "divmain">
				 <table id="table"></table>
			</div>
			<div class="center">
			<div id="divcontrol">
		<input type="button" class="gradient-button gradient-button-4" value="3 vs 3" onClick="location.href='{% url 'board_com3vs3'%}'"/>
				<input type="button" class="gradient-button gradient-button-4" value="5 vs 5" onClick="location.href='{% url 'board_com5vs5'%}'"/>
				<input type="button" class="gradient-button gradient-button-4" value="10 vs 10" onclick="location.href='{% url 'board_com10vs10'%}'"/><br/>
			</div></div>
		</body>
	</html>